<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New Proto</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form" %>
    </div>
  </div>
</div>